.contactGrid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width:550px){
  .contactGrid{
    grid-template-columns: 1fr;
  }
}
.filler{
  margin-top:20px;
  height:150px;
  background: linear-gradient(0deg, lightblue 0%, white 100%);
}
// @media only screen and (max-height: 500px) {
//   .filler{
//     height:100px;
//   }
// }
