<div>
  <p style="font-size:2.5rem; font-weight: 600; text-align: center; margin:50px;">Contact us</p>
  <p style="text-align: center; font-size:1.5rem; color:#313638; margin:50px;">Need to get in touch with us? We would love to answer your questions.</p>
</div>
<div class="contactGrid">
  <div style="text-align: center; color:#313638">
    <mat-icon class="menuIcon" aria-hidden="false" aria-label="View Menu" fontIcon="phone" style="color:black;"></mat-icon>
    <p>Call us at</p>
    <p>801-011-0101</p>
  </div>

  <div style="text-align: center; color:#313638">
    <mat-icon class="menuIcon" aria-hidden="false" aria-label="View Menu" fontIcon="mail" style="color:black;"></mat-icon>
    <p>Email us at</p>
    <p>WeAreCool@gmail.com</p>
  </div>

  <div style="text-align: center; color:#313638">
    <mat-icon class="menuIcon" aria-hidden="false" aria-label="View Menu" fontIcon="pin" style="color:black;"></mat-icon>
    <p>111 Main St</p>
    <p>Rexburg, Id 83440</p>
  </div>
</div>

<div class="filler">

</div>
