<div *ngIf="sticker$ | async as sticker">
  <div *ngIf="!sticker.activated">
    <p>Registration Page</p>
    <button mat-button *ngIf="!(auth.user$ | async)"
    (click)="loginRedirectHandler()">Login</button>
  </div>
  <div *ngIf="sticker.activated">
    <p>Finder Page</p>
    <p>{{sticker.name}}</p>
    <div *ngIf="userProfile$ | async as userProfile">
      <p *ngIf="userProfile.shareNameAlways || sticker.lost; else anonymous">
        {{userProfile.name}}
      </p>
      <p *ngIf="userProfile.shareNumberAlways || sticker.lost; else anonymous">
        {{userProfile.number}}
      </p>
      <p *ngIf="userProfile.shareEmailAlways || sticker.lost; else anonymous">
        {{userProfile.email}}
      </p>
      <p *ngIf="userProfile.shareLinkAlways || sticker.lost; else anonymous">
        <a href="{{userProfile.link}}">{{userProfile.link}}</a>
      </p>
    </div>
  </div>
</div>

<div *ngIf="!(sticker$ | async)">
  <p>stiQR not found</p>
</div>

<ng-template #anonymous>
  <p>Anonymous</p>
</ng-template>
