<div class="finderTopSection">
  <img routerLink="/" class="logo" src="./../assets/images/stiQR_logo.JPEG" alt="stiqr logo">
</div>

<div *ngIf="sticker$ | async as sticker">
  <div *ngIf="!sticker.activated" style="width:90%; max-width:350px; height:auto; margin:auto; border-radius: 4px; box-shadow: 1px 2px 4px -1px black; padding:20px 0px; margin:20px auto;">
    <p style="text-align: center; font-size:1.4rem; font-weight: 500;">Sticker Registration</p>

    <div style="width:90%; margin-left:5%; margin-right:5%; min-height:100px; background-color: white;">

      <div style="text-align: center;">
        <img src="https://loremflickr.com/200/200/mountains" alt="scenery">
      </div>

      <p style="text-align: center;">Ready to register your product?</p>
      <div style="text-align: center;">
        <button mat-button style="background-color: blue; color:white;">Register</button>
      </div>

      <p style="text-align:center;">OR</p>

      <div style="text-align: center;">
        <button mat-button class="returnBtn" routerLink="/">Return to STIQR</button>
      </div>

    </div>

    <!-- Testing: Delete when ready -->
    <!-- <button mat-button *ngIf="!(auth.user$ | async)"
    (click)="loginRedirectHandler()">Login</button> -->
  </div>
  <div *ngIf="sticker.activated" class="fixedFinderBackground">
    <div class="stickerBody" *ngIf="userProfile$ | async as userProfile">
      <div style="margin-right:10%;">
        <p style="margin-top:0px;">Hi, you scanned {{userProfile.name}}'s QR code.</p>
        <p>Please help get {{userProfile.name}}'s item back to him.</p>
      </div>
      <div style="position:relative; display:inline-block;">
        <img class="contactCardImg" src="../../assets/images/Contact Card.png" alt="Contact Card Img">
        <div class="contactCardContainer">
          <div class="contactGrid">
            <div class="contactLableDiv">
              <p class="contactLable">Item: </p>
            </div>
            <div class="contactItemDiv">
              <p class="contactItem">{{sticker.name}}</p>
            </div>

            <div class="contactLableDiv">
              <p class="contactLable">Name: </p>
            </div>
            <div class="contactItemDiv">
              <p class="contactItem" *ngIf="userProfile.shareNameAlways || sticker.lost; else anonymous">
                {{userProfile.name}}
              </p>
            </div>

            <div class="contactLableDiv">
              <p class="contactLable">Number: </p>
            </div>
            <div class="contactItemDiv">
              <p class="contactItem" *ngIf="userProfile.shareNumberAlways || sticker.lost; else anonymous">
                {{userProfile.number}}
              </p>
            </div>

            <div class="contactLableDiv">
              <p class="contactLable">Email: </p>
            </div>
            <div class="contactItemDiv">
              <p class="contactItem" *ngIf="userProfile.shareEmailAlways || sticker.lost; else anonymous">
                {{userProfile.email}}
              </p>
            </div>

            <div class="contactLableDiv">
              <p class="contactLable">Link: </p>
            </div>
            <div class="contactItemDiv">
              <p class="contactItem" *ngIf="userProfile.shareLinkAlways || sticker.lost; else anonymous">
                <a href="https://{{userProfile.link}}">{{userProfile.link}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(sticker$ | async)">
  <p>stiQR not found</p>
</div>

<div class="filler">

</div>

<ng-template #anonymous>
  <p class="contactItem">Hidden</p>
</ng-template>
