<div class="body">
    <div class="loginContainer">
        <p class="signInText">Login</p>

        <div class="inputsContainer">
          <p class="inputLabels">Username</p>
          <input class="inputs" type="text">

          <p class="inputLabels">Password</p>
          <input class="inputs" type="text">

          <p>Forgot your password?</p>

          <button class="loginBtn" mat-raised-button color="primary" routerLink="../customer">Login</button>

          <p style="text-align:center">OR</p>

          <button class="loginBtn" mat-raised-button color="primary">Sign in with Google</button>

          <p style="text-align:center">New to STIQR? Sign Up</p>
        </div>
    </div>
</div>
