<div class="title-bar">
  <div style="display:inline-block;">
    <div class="nav-bar">
      <div class="nav-bar-grid">
        <div class="center-logo" routerLink="/">
          <img class="logo" src="./../assets/images/stiQR_logo.JPEG" alt="stiqr logo">
        </div>
        <div class="nav-button" routerLink="/"><p class="nav-button-p">Home</p></div>
        <div class="nav-button" routerLink="/our-mission"><p class="nav-button-p">Our Mission</p></div>
        <div class="nav-button"><p class="nav-button-p">Shop</p></div>
        <div class="nav-button" routerLink="/contact-us"><p class="nav-button-p">Contact Us</p></div>
        <div class="nav-button" routerLink="/FAQ"><p class="nav-button-p">FAQ</p></div>
      </div>
    </div>
  </div>

  <div class="navButtons">
    <button mat-button class="LoginBtn" *ngIf="!(auth.user$ | async)"><a routerLink="/login" style="text-decoration: none; color: white;">Login</a></button>
    <button mat-button class="LoginBtn" *ngIf="auth.user$ | async" (click)="logoutModal()"><a style="text-decoration: none; color: white;">Logout</a></button>
    <button mat-button class="signUpBtn"><a routerLink = "/signup" style="text-decoration: none; color: white;">Sign Up</a></button>
    <button mat-button class="LoginBtn" *ngIf="router.url !== '/customer' && (auth.user$ | async)"><a routerLink="/customer" style="text-decoration: none; color: white;">My Account</a></button>
    <!-- <p *ngIf="router.url === '/customer' && (auth.user$ | async)">Welcome {{name}}</p> -->
  </div>
</div>

<router-outlet></router-outlet>

<div class="logoutModalBackgroud" *ngIf="logoutModalDisplay">
  <div class="logoutWhiteBlock">
    <p>Conform Logout</p>
    <button mat-button class="signUpBtn">Never Mind</button>
    <button mat-button style="background-color: red;">Logout</button>
  </div>
</div>

<div>
  <div style="background-color: #E0DFD5; color:black; padding:10px 5%">
    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
      <div class="footerBox" routerLink="/our-mission">
        <p class="footer-text">ABOUT US</p>
      </div>
      <div class="footerBox">
        <p class="footer-text">SHOP</p>
      </div>
      <div class="footerBox" routerLink="/FAQ">
        <p class="footer-text">HELP</p>
      </div>
      <div class="footerBox" routerLink="contact-us">
        <p class="footer-text">CONTACT</p>
      </div>
    </div>

    <hr>

    <div class="footer-grid">
      <div style="margin-left:auto; margin-right:auto; width:105px;">
        <img class="footer-logo" src="../assets/images/facebook-logo-circle.png" alt="scenery">
        <img class="footer-logo" src="../assets/images/instagram-logo-circle.png" alt="scenery">
        <img class="footer-logo" src="../assets/images/twitter-logo-circle.png" alt="scenery">
      </div>
    </div>
  </div>

  <div class="copyright-box">
    <p class="copyright-text">© Copyright STIQR 2023</p>
  </div>
</div>
