<div class="title-bar">
  <div style="display:inline-block;">
    <div class="nav-bar">
      <div class="nav-bar-grid">
        <div class="center-logo" (click)="logoClicked()">
          <img class="logo" src="./../assets/images/stiQR_logo.JPEG" alt="stiqr logo">
        </div>
        <div class="nav-button"><p class="nav-button-p">Our Mission</p></div>
        <div class="nav-button"><p class="nav-button-p">Shop</p></div>
        <div class="nav-button"><p class="nav-button-p">Register</p></div>
        <div class="nav-button"><p class="nav-button-p">Contact Us</p></div>
        <div class="nav-button"><p class="nav-button-p">FAQ</p></div>
      </div>
    </div>
  </div>

  <div class="log-in">
    <button mat-button class="signUpBtn" (click)="signupClicked()">Sign Up</button>
    <button mat-button class="LoginBtn" (click)="loginClicked()">Login</button>
  </div>
</div>

<app-homepage *ngIf="currentPage == 'homepage'"></app-homepage>
<app-login *ngIf="currentPage == 'login'"></app-login>
<app-sign-up *ngIf="currentPage == 'sign up'"></app-sign-up>

<div *ngIf="currentPage != 'login'">
  <div style="background-color: #E0DFD5; color:black; padding:10px 5%">
    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
      <p class="footer-text">ABOUT US</p>
      <p class="footer-text">SHOP</p>
      <p class="footer-text">HELP</p>
      <p class="footer-text">CONTACT</p>
    </div>

    <hr>

    <div class="footer-grid">
      <div style="margin-left:auto; margin-right:auto; width:105px;">
        <img class="footer-logo" src="../assets/images/facebook-logo-circle.png" alt="scenery">
        <img class="footer-logo" src="../assets/images/instagram-logo-circle.png" alt="scenery">
        <img class="footer-logo" src="../assets/images/twitter-logo-circle.png" alt="scenery">
      </div>
    </div>
  </div>

  <div class="copyright-box">
    <p class="copyright-text">© Copyright STIQR 2023</p>
  </div>
</div>
<!-- <h2 style="color: #F09D51">New Stickers for purchase</h2> -->
