.title-bar {
  background-color: #313638;
  // background-color: #F09D51;
  margin:none;
  padding:0px 20px 0px 30px;
  display:grid;
  grid-template-columns: 1fr 350px;
}
.logo {
  width:100px;
  height:auto;
}
.title-box {
  text-align: center;
}
.title {
  color:white;
  margin:0px;
}
.navButtons {
  // text-align: right;
  // margin:auto 0px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:50px;
  direction: rtl;
  margin:auto 0px;

}
.nav-bar{
  display:inline-block;
}
.nav-bar-grid{
  margin:0px auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap:1px;
  max-width: 800px;
}
@media only screen and (max-width:800px) {
  .nav-bar-grid{
    grid-template-columns: 1fr 1fr;
  }
}
.nav-button{
  text-align: center;
  color:white;
  padding-top:20px;
  padding-bottom:20px;
}
.nav-button:hover{
  background-color: #E0DFD5;
  color: #313638
}
.nav-button-p{
  margin:0px;
}
.center-logo {
  margin-top:auto;
  margin-bottom:auto;
}
.signUpBtn{
    background-color: #3333FF;
    color:white;
    // margin-right:20px
}
.LoginBtn{
  background-color:#F09D51;
  color:white
}

.footer-text{
  margin:0px;
  text-align: center;
  padding:10px;
}
.footer-logo{
  border-radius: 50%;
  width:25px;
  margin:5px;
}
.copyright-box{
  background-color: #313638;
  color:white;
}
.copyright-text{
  text-align: center;
  margin:0px;
  padding:10px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.footerBox:hover{
  background-color: #313638;
  color:white;
}

.logoutModalBackgroud{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  background-color: #00000044;
  z-index:1
}
.logoutWhiteBlock{
  background-color: white;
  width:300px;
  padding:30px;
  border-radius:5px;
  margin:50px auto;
}
.menuIcon{
  color:white;
}
.footer{
  // position:fixed;
  width:100%;
  bottom:0%;
}
.footerGrid{
  display:grid;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width:600px) {
  .footerGrid{
    grid-template-columns: 1fr 1fr;
  }
}
