<div class="title-bar">
  <div style="display:inline-block;">
    <div class="nav-bar">
      <div class="nav-bar-grid">
        <div class="center-logo">
          <img class="logo" src="./../assets/images/stiQR_logo.JPEG" alt="stiqr logo">
        </div>
        <div class="nav-button"><p class="nav-button-p">Our Mission</p></div>
        <div class="nav-button"><p class="nav-button-p">Shop</p></div>
        <div class="nav-button"><p class="nav-button-p">Register</p></div>
        <div class="nav-button"><p class="nav-button-p">Contact Us</p></div>
        <div class="nav-button"><p class="nav-button-p">FAQ</p></div>
      </div>
    </div>
  </div>
  <div class="log-in">
    <button mat-raised-button style="background-color:#F09D51">Login</button>
  </div>
</div>

<app-homepage></app-homepage>

<div style="background-color: gray;">
  <p class="footer-text">Contact STIQR</p>
  <p class="footer-text">Phone: (111) 111-1111</p>
  <p class="footer-text">email: stiqrHelp@gmail.com</p>
</div>

<div class="footer-grid">
  <div>
    <img class="footer-logo" src="../assets/images/facebook-logo-circle.png" alt="scenery">
    <img class="footer-logo" src="../assets/images/instagram-logo-circle.png" alt="scenery">
    <img class="footer-logo" src="../assets/images/twitter-logo-circle.png" alt="scenery">
  </div>
  <div class="copyright-box">
    <p class="copyright-text">(c) STIQR 2023</p>
  </div>
</div>
<!-- <h2 style="color: #F09D51">New Stickers for purchase</h2> -->
