.body{
  background-color: #f6f8f9;
  padding:40px;
}
.signupContainer{
  width:400px;
  background-color:white;
  margin:auto auto;
  text-align: center;
  box-shadow: 0px 0px 20px 3px #ccc;
  padding:20px;
}
.signInText{
  margin-top:0px;
  padding-top:20px;
  font-size:32px;
  font-weight: 600;
}
.inputsContainer{
  width:300px;
  margin:0px auto;
  text-align:left;
}
.inputLabels{
  margin: 10px 0px 0px;
}
.inputs{
  width:100%;
  height:30px;
}
.loginBtn{
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: #F09D51;
}
