<div class="body">
  <div class="signupContainer">
      <p class="signInText">Sign Up</p>

      <div class="inputsContainer">

        <!-- Agree to our Terms of Use and Privacy Policy -->
        <!-- Put in your email address -->
        <!-- Put in a username -->
        <!-- Put in a password -->
        <!-- Sign up with Google -->

        <p class="inputLabels">Username</p>
        <input class="inputs" type="text">

        <p class="inputLabels" style="margin-top:20px;">Password</p>
        <input class="inputs" type="text">

        <p class="inputLabels">Reenter password</p>
        <input class="inputs" type="text">

        <button class="loginBtn" mat-raised-button color="primary" style="margin-top:20px;">Create Account</button>

        <p style="text-align:center">OR</p>

        <p style="text-align:center;">Sign in with Google</p>
        <button class="loginBtn" mat-raised-button color="primary">Google</button>

      </div>
  </div>
</div>
